n8n/Relatório de Visita - Fase 2A (processar).json
{
  "name": "Relatório de Visita - Fase 2A (processar)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fase2-processar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bdd82d3c-2e9f-49b5-bd67-d9af284eb0f6",
      "name": "Webhook - Recebe do Bot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -544,
        -432
      ],
      "webhookId": "fase2-processar"
    },
    {
      "parameters": {
        "jsCode": "// ===== MODO DE TESTE =====\n// Altere MODO_TESTE para false para usar dados do webhook\n// Altere CENARIO_TESTE para testar diferentes cenários\nconst MODO_TESTE = false; // true = usa dados de teste, false = usa dados do webhook\nconst CENARIO_TESTE = 'simples'; // Escolha o cenário abaixo\n\nlet payload = {};\n\nif (MODO_TESTE) {\n  // ===== CENÁRIOS DE TESTE =====\n  \n  const cenarios = {\n    // ===== CENÁRIOS BÁSICOS =====\n    \n    // Cenário 1: Inventário simples (tudo encontrado na base)\n    simples: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'arroz: 500g, feijão: 300g, macarrão: 250g, leite: 500ml, azeite: 200ml',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 2: Inventário com erros de digitação (testa fuzzy search)\n    com_erros: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'aroz: 500g, feijao: 300g, macarrao: 250g, leite integral: 500ml, azeite de oliva: 200ml, acucar: 1kg',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 3: Inventário com temperos sensíveis\n    temperos_sensiveis: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'arroz: 500g, pimenta do reino: 50g, açafrão da terra: 30g, canela: 25g, páprica: 40g, cominho: 20g',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 4: Inventário completo (múltiplas categorias, erros, temperos)\n    completo: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'arroz: 500g, feijão preto: 300g, macarrão espaguete: 250g, leite integral: 500ml, azeite de oliva: 200ml, açúcar: 1kg, sal: 500g, pimenta do reino: 50g, açafrão da terra: 30g, canela em pó: 25g, páprica doce: 40g, cominho: 20g, curry: 35g, tomate: 5 unidades, cebola: 3 unidades, alho: 1 cabeça, limão: 4 unidades',\n      foto_inventario_base64: ''\n    },\n    \n    // ===== CENÁRIOS REALISTAS DO DIA A DIA =====\n    \n    // Cenário 5: Cliente com restrições (sem lactose, sem glúten)\n    restricoes_alimentares: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'arroz: 800g, quinoa: 300g, batata doce: 1kg, frango: 600g, leite de amêndoas: 1L, azeite: 250ml, sal rosa: 400g, pimenta: 30g, alho: 2 cabeças, cebola: 4 unidades, tomate: 6 unidades, brócolis: 400g',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 6: Família grande (muitas porções)\n    familia_grande: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'arroz: 2kg, feijão: 1.5kg, macarrão: 1kg, carne moída: 2kg, frango: 3kg, leite: 3L, ovos: 30 unidades, óleo: 900ml, sal: 1kg, açúcar: 2kg, farinha de trigo: 2kg, tomate: 15 unidades, cebola: 10 unidades, alho: 3 cabeças, batata: 3kg, cenoura: 1.5kg',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 7: Cliente fitness (proteínas e vegetais)\n    fitness: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'frango: 1.2kg, peixe: 800g, batata doce: 1.5kg, ovos: 18 unidades, azeite: 300ml, quinoa: 400g, brócolis: 500g, espinafre: 300g, tomate cereja: 200g, abacate: 3 unidades, limão: 6 unidades, sal rosa: 200g, pimenta: 40g, alho: 2 cabeças',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 8: Culinária italiana\n    italiana: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'macarrão penne: 600g, macarrão espaguete: 500g, molho de tomate: 800ml, queijo parmesão: 300g, mussarela: 400g, azeite extra virgem: 500ml, manjericão: 50g, orégano: 30g, alho: 3 cabeças, cebola: 5 unidades, tomate: 10 unidades, azeitona: 200g, vinho branco: 500ml',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 9: Culinária oriental\n    oriental: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'arroz japonês: 1kg, shoyu: 500ml, missô: 200g, gengibre: 150g, cebolinha: 100g, gergelim: 80g, óleo de gergelim: 100ml, sake: 300ml, vinagre de arroz: 200ml, wasabi: 50g, alga nori: 10 folhas, tofu: 400g, cogumelo shiitake: 200g',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 10: Churrasco brasileiro\n    churrasco: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'picanha: 2kg, costela: 3kg, linguiça: 1.5kg, frango: 2kg, sal grosso: 1kg, pimenta: 100g, alho: 5 cabeças, farofa: 500g, vinagrete: preparado, arroz: 1kg, feijão: 800g, batata: 2kg, mandioca: 1.5kg, pão de alho: 10 unidades',\n      foto_inventario_base64: ''\n    },\n    \n    // ===== CENÁRIOS DE EDGE CASES =====\n    \n    // Cenário 11: Ingredientes não encontrados (testa Claude)\n    ingredientes_desconhecidos: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'arroz: 500g, tempero especial da casa: 100g, mistura de especiarias da vovó: 50g, molho secreto: 200ml, farinha especial: 300g',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 12: Formatação inconsistente (testa parser)\n    formatacao_inconsistente: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'arroz 500g; feijão, 300g. macarrão:250g leite 500ml azeite:200ml sal-500g açúcar=1kg tomate 5un cebola/3un',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 13: Unidades variadas (testa normalização)\n    unidades_variadas: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'arroz: 1 kg, feijão: 500 gramas, macarrão: 250g, leite: 1 litro, azeite: 200 ml, sal: 0.5kg, açúcar: 1000g, tomate: meia dúzia, ovos: 1 dúzia',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 14: Inventário vazio (testa erro)\n    vazio: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: '',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 15: Inventário muito grande (testa performance)\n    muito_grande: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'arroz: 2kg, feijão preto: 1kg, feijão carioca: 800g, macarrão espaguete: 500g, macarrão penne: 500g, macarrão parafuso: 400g, leite integral: 2L, leite desnatado: 1L, azeite: 500ml, óleo de girassol: 900ml, sal: 1kg, açúcar: 2kg, açúcar mascavo: 500g, farinha de trigo: 2kg, farinha de milho: 500g, fubá: 400g, amido de milho: 200g, fermento: 100g, pimenta do reino: 80g, páprica: 60g, cominho: 40g, curry: 50g, orégano: 30g, manjericão: 25g, alecrim: 20g, tomilho: 20g, canela: 30g, cravo: 15g, noz moscada: 10g, açafrão: 40g, tomate: 20 unidades, cebola: 15 unidades, alho: 5 cabeças, batata: 3kg, cenoura: 2kg, beterraba: 1kg, abóbora: 2kg, abobrinha: 1kg, berinjela: 800g, pimentão: 10 unidades, brócolis: 1kg, couve-flor: 800g, couve: 500g, alface: 5 unidades, rúcula: 300g, espinafre: 400g',\n      foto_inventario_base64: ''\n    },\n    \n    // ===== CENÁRIOS DE ALIMENTOS ESPECÍFICOS =====\n    \n    // Cenário 16: Sobremesas e doces\n    sobremesas: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'açúcar: 1kg, farinha de trigo: 800g, ovos: 12 unidades, manteiga: 500g, chocolate em pó: 200g, chocolate em barra: 300g, leite condensado: 800g, creme de leite: 600ml, fermento: 100g, baunilha: 50ml, canela: 40g, frutas vermelhas: 500g',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 17: Comida de bebê\n    bebe: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'batata: 500g, cenoura: 400g, abóbora: 600g, chuchu: 300g, frango desfiado: 200g, carne moída: 250g, arroz: 300g, macarrão para bebê: 200g, óleo: 100ml, sal: mínimo, açúcar: mínimo',\n      foto_inventario_base64: ''\n    },\n    \n    // Cenário 18: Dieta low carb\n    low_carb: {\n      notion_page_id: 'test-notion-page-id-12345',\n      inventario_texto: 'frango: 1.5kg, carne: 1kg, peixe: 800g, ovos: 24 unidades, queijo: 500g, manteiga: 400g, azeite: 500ml, brócolis: 600g, couve-flor: 500g, espinafre: 300g, abacate: 4 unidades, castanhas: 200g, amêndoas: 150g',\n      foto_inventario_base64: ''\n    }\n  };\n  \n  // Selecionar cenário\n  if (!cenarios[CENARIO_TESTE]) {\n    console.warn('⚠️ Cenário não encontrado:', CENARIO_TESTE);\n    console.log('📋 Cenários disponíveis:', Object.keys(cenarios).join(', '));\n    payload = cenarios.completo;\n  } else {\n    payload = cenarios[CENARIO_TESTE];\n  }\n  \n  console.log('🧪 MODO TESTE ATIVO - Cenário:', CENARIO_TESTE);\n  console.log('📦 Payload de teste:', payload);\n  \n} else {\n  // ===== MODO PRODUÇÃO (usa dados do webhook) =====\n  const webhookData = $input.first().json;\n  \n  payload = {\n    notion_page_id: webhookData.body?.notion_page_id || webhookData.notion_page_id || '',\n    inventario_texto: webhookData.body?.inventario_texto || webhookData.inventario_texto || '',\n    foto_inventario_base64: webhookData.body?.foto_inventario_base64 || webhookData.foto_inventario_base64 || ''\n  };\n  \n  console.log('🚀 MODO PRODUÇÃO - Dados do webhook');\n  console.log('📦 Payload:', { \n    ...payload, \n    foto_inventario_base64: payload.foto_inventario_base64 ? payload.foto_inventario_base64.length + ' chars' : 'empty' \n  });\n}\n\n// Retornar payload no formato esperado\nreturn {\n  json: {\n    notion_page_id: payload.notion_page_id,\n    inventario_texto: payload.inventario_texto,\n    foto_inventario_base64: payload.foto_inventario_base64,\n    modo_teste: MODO_TESTE,\n    cenario_teste: MODO_TESTE ? CENARIO_TESTE : null\n  }\n};"
      },
      "id": "9fb42224-a67b-4ca1-9ba1-3a63d285754a",
      "name": "Code - Payload de Teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "notion_page_id",
              "name": "notion_page_id",
              "value": "={{ $json.notion_page_id }}",
              "type": "string"
            },
            {
              "id": "inventario_texto",
              "name": "inventario_texto",
              "value": "={{ $json.inventario_texto }}",
              "type": "string"
            },
            {
              "id": "foto_inventario_base64",
              "name": "foto_inventario_base64",
              "value": "={{ $json.foto_inventario_base64 }}",
              "type": "string"
            },
            {
              "id": "modo_teste",
              "name": "modo_teste",
              "value": "={{ $json.modo_teste }}",
              "type": "boolean"
            },
            {
              "id": "cenario_teste",
              "name": "cenario_teste",
              "value": "={{ $json.cenario_teste }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "158b0872-6fb5-438e-95e8-7c81c73e7b0c",
      "name": "Set - Extrai Variáveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -16,
        -432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "inventario_extraido",
              "name": "inventario_extraido",
              "value": "={{ $('Set - Extrai Variáveis').first().json.inventario_texto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5c328800-3ea6-494b-b2a9-b1ab028a3061",
      "name": "Set - Usa Texto Digitado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        272,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== CODE - PROCESSAR INVENTÁRIO (VERSÃO SIMPLES - CORRIGIDO) =====\n// Objetivo: Parse simples + validação de temperos sensíveis + visualização\n\nconst inventarioTexto = $input.first().json.inventario_extraido || '';\n\nif (!inventarioTexto || typeof inventarioTexto !== 'string') {\n  return {\n    json: {\n      success: false,\n      erro: 'Inventário não encontrado ou vazio'\n    }\n  };\n}\n\nconsole.log('📦 Inventário recebido:', inventarioTexto);\n\n// ===== LISTA DE TEMPEROS SENSÍVEIS =====\n// Temperos que SEMPRE devem ser revisados pelo chef\nconst temperosSensiveis = [\n  'pimenta do reino',\n  'pimenta',\n  'açafrão',\n  'açafrão da terra',\n  'cúrcuma',\n  'canela',\n  'páprica',\n  'cominho',\n  'curry',\n  'noz-moscada',\n  'pimenta caiena',\n  'pimenta de cheiro',\n  'pimenta dedo de moça',\n  'pimentão',\n  'zatar',\n  'pimenta verde'\n];\n\n// ===== FUNÇÃO: Normalizar texto para comparação =====\nfunction normalizarTexto(texto) {\n  if (!texto) return '';\n  return texto\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '') // Remove acentos\n    .toLowerCase()\n    .trim();\n}\n\n// ===== FUNÇÃO: Verificar se ingrediente é tempero sensível =====\nfunction ehTemperoSensivel(nomeIngrediente) {\n  const nomeNormalizado = normalizarTexto(nomeIngrediente);\n  \n  for (const tempero of temperosSensiveis) {\n    const temperoNormalizado = normalizarTexto(tempero);\n    if (nomeNormalizado.includes(temperoNormalizado)) {\n      return true;\n    }\n  }\n  return false;\n}\n\n// ===== PARSE SIMPLES =====\nconst ingredientes = inventarioTexto\n  .split(/[,\\n;]/) // Separa por vírgula, quebra de linha ou ponto-e-vírgula\n  .map(item => item.trim())\n  .filter(item => item.length > 0)\n  .map(ingredienteTexto => {\n    // Extrair nome, quantidade e unidade\n    let nome = ingredienteTexto;\n    let quantidade = '';\n    let unidade = '';\n\n    // Tentar com dois-pontos: \"ingrediente: quantidade unidade\"\n    const matchComDoisPontos = ingredienteTexto.match(/^(.+?)\\s*:\\s*(\\d+(?:[.,]\\d+)?)\\s*(g|kg|ml|l|litros?|unidade|unidades|un|pct|pacote|pacotes|unid|cabeça|cabeças|maço|maços)?$/i);\n    \n    if (matchComDoisPontos) {\n      nome = matchComDoisPontos[1].trim();\n      quantidade = matchComDoisPontos[2].replace(',', '.');\n      unidade = (matchComDoisPontos[3] || 'unidade').toLowerCase();\n    } else {\n      // Tentar sem dois-pontos: \"ingrediente quantidade unidade\"\n      const matchSemDoisPontos = ingredienteTexto.match(/^(.+?)\\s+(\\d+(?:[.,]\\d+)?)\\s*(g|kg|ml|l|litros?|unidade|unidades|un|pct|pacote|pacotes|unid|cabeça|cabeças|maço|maços)?$/i);\n      if (matchSemDoisPontos) {\n        nome = matchSemDoisPontos[1].trim();\n        quantidade = matchSemDoisPontos[2].replace(',', '.');\n        unidade = (matchSemDoisPontos[3] || 'unidade').toLowerCase();\n      }\n    }\n\n    // Normalizar unidades comuns\n    const unidadesMap = {\n      'un': 'unidade',\n      'unid': 'unidade',\n      'unidades': 'unidade',\n      'pct': 'pacote',\n      'pacotes': 'pacote',\n      'litros': 'l',\n      'litro': 'l',\n      'maços': 'maço',\n      'cabeças': 'cabeça'\n    };\n    \n    unidade = unidadesMap[unidade] || unidade;\n\n    // Verificar se é tempero sensível\n    const isTemperoSensivel = ehTemperoSensivel(nome);\n\n    return {\n      nome_original: ingredienteTexto,\n      nome: nome,\n      quantidade: quantidade,\n      unidade: unidade,\n      tempero_sensivel: isTemperoSensivel\n    };\n  });\n\nconsole.log('📋 Total de ingredientes parseados:', ingredientes.length);\n\n// ===== ANÁLISE DE TEMPEROS SENSÍVEIS =====\nconst temperosSensiveisEncontrados = ingredientes.filter(item => item.tempero_sensivel);\nconst totalTemperos = temperosSensiveisEncontrados.length;\n\nconsole.log('⚠️ Temperos sensíveis encontrados:', totalTemperos);\n\n// ===== VALIDAÇÃO DE TEMPEROS (MENSAGENS OPERACIONAIS CORRETAS) =====\nlet avisoTemperos = null;\nlet precisaRevisaoTemperos = false;\n\nif (totalTemperos === 0) {\n  avisoTemperos = '🚨 ATENÇÃO CRÍTICA: Nenhum tempero sensível registrado!\\n\\n🔍 REVISE SE SOBRARAM TEMPEROS que você usou:\\n• Pimenta do reino\\n• Páprica\\n• Cominho\\n• Curry\\n• Canela\\n• Açafrão/Cúrcuma\\n• Outros temperos\\n\\n💰 IMPACTO OPERACIONAL:\\nSe sobraram temperos e você NÃO registrou, o sistema vai RECOMPRÁ-LOS DESNECESSARIAMENTE na próxima visita, gerando:\\n→ Desperdício de produto\\n→ Aumento de custos\\n→ Estoque duplicado\\n\\n❓ Confirma que NÃO SOBRARAM temperos sensíveis para registrar?';\n  precisaRevisaoTemperos = true;\n} else if (totalTemperos === 1) {\n  avisoTemperos = `⚠️ ATENÇÃO: Apenas 1 tempero sensível registrado!\\n\\nTempero encontrado:\\n• ${temperosSensiveisEncontrados[0].nome}: ${temperosSensiveisEncontrados[0].quantidade}${temperosSensiveisEncontrados[0].unidade}\\n\\n🔍 REVISE: É comum usar vários temperos em uma visita.\\nVerifique se SOBRARAM outros temperos que você usou.\\n\\n💰 IMPACTO: Temperos não registrados serão recomprados desnecessariamente.\\n\\n❓ Confirma que APENAS esse tempero sobrou?`;\n  precisaRevisaoTemperos = true;\n} else if (totalTemperos === 2) {\n  const nomesTemperos = temperosSensiveisEncontrados.map(t => `• ${t.nome}: ${t.quantidade}${t.unidade}`).join('\\n');\n  avisoTemperos = `⚠️ ATENÇÃO: Apenas 2 temperos sensíveis registrados!\\n\\nTemperos encontrados:\\n${nomesTemperos}\\n\\n🔍 REVISE: É comum usar mais temperos em uma visita completa.\\nVerifique se SOBRARAM outros temperos que você usou.\\n\\n💰 IMPACTO: Temperos não registrados serão recomprados desnecessariamente.\\n\\n❓ Confirma que APENAS esses 2 temperos sobraram?`;\n  precisaRevisaoTemperos = true;\n}\n\n// ===== FORMATAR VISUALIZAÇÃO =====\nlet inventarioVisualizacao = '';\n\ninventarioVisualizacao += '📦 INVENTÁRIO PROCESSADO\\n';\ninventarioVisualizacao += '═════════════════════════════\\n\\n';\n\n// Agrupar por tipo (temperos sensíveis primeiro)\nconst temperos = ingredientes.filter(item => item.tempero_sensivel);\nconst normais = ingredientes.filter(item => !item.tempero_sensivel);\n\nif (temperos.length > 0) {\n  inventarioVisualizacao += '⚠️ TEMPEROS SENSÍVEIS:\\n';\n  temperos.forEach((item, index) => {\n    inventarioVisualizacao += `   ${index + 1}. ${item.nome}`;\n    if (item.quantidade) {\n      inventarioVisualizacao += `: ${item.quantidade} ${item.unidade}`;\n    }\n    inventarioVisualizacao += '\\n';\n  });\n  inventarioVisualizacao += '\\n';\n}\n\nif (normais.length > 0) {\n  inventarioVisualizacao += '📋 INGREDIENTES GERAIS:\\n';\n  normais.forEach((item, index) => {\n    inventarioVisualizacao += `   ${index + 1}. ${item.nome}`;\n    if (item.quantidade) {\n      inventarioVisualizacao += `: ${item.quantidade} ${item.unidade}`;\n    }\n    inventarioVisualizacao += '\\n';\n  });\n}\n\ninventarioVisualizacao += '\\n═════════════════════════════\\n';\ninventarioVisualizacao += `📊 TOTAL: ${ingredientes.length} ingredientes\\n`;\ninventarioVisualizacao += `⚠️ TEMPEROS SENSÍVEIS: ${totalTemperos}\\n\\n`;\n\n// Adicionar aviso de temperos se necessário\nif (avisoTemperos) {\n  inventarioVisualizacao += avisoTemperos + '\\n\\n';\n}\n\ninventarioVisualizacao += '✅ Confirma que está correto?\\n';\ninventarioVisualizacao += '✅ Sim → Tudo certo!\\n';\ninventarioVisualizacao += '❌ Não → Me manda corrigido';\n\n// ===== RETORNAR RESULTADO =====\nreturn {\n  json: {\n    success: true,\n    inventario_estruturado: ingredientes,\n    inventario_visualizacao: inventarioVisualizacao,\n    total_ingredientes: ingredientes.length,\n    temperos_sensiveis: temperosSensiveisEncontrados,\n    total_temperos_sensiveis: totalTemperos,\n    precisa_revisao_temperos: precisaRevisaoTemperos,\n    aviso_temperos: avisoTemperos,\n    metodo: 'parse_simples',\n    precisa_validacao: true\n  }\n};"
      },
      "id": "1059fa80-2307-4465-8390-6044118e0266",
      "name": "Code - Processar Inventário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -432
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: $json.success || false,\n  inventario_estruturado: $json.inventario_estruturado || [],\n  inventario_visualizacao: $json.inventario_visualizacao || '',\n  total_ingredientes: $json.total_ingredientes || 0,\n  temperos_sensiveis: $json.temperos_sensiveis || [],\n  total_temperos_sensiveis: $json.total_temperos_sensiveis || 0,\n  precisa_revisao_temperos: $json.precisa_revisao_temperos || false,\n  aviso_temperos: $json.aviso_temperos || null,\n  metodo: $json.metodo || 'parse_simples',\n  precisa_validacao: $json.precisa_validacao !== undefined ? $json.precisa_validacao : true,\n  message: $json.success ? 'Inventário processado com sucesso' : ($json.erro || 'Erro ao processar inventário')\n}) }}",
        "options": {}
      },
      "id": "27c989c3-30ac-4e73-93c3-1ff824437574",
      "name": "Respond - Retorna pro Bot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        -432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Recebe do Bot": {
      "main": [
        [
          {
            "node": "Code - Payload de Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Payload de Teste": {
      "main": [
        [
          {
            "node": "Set - Extrai Variáveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Extrai Variáveis": {
      "main": [
        [
          {
            "node": "Set - Usa Texto Digitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Usa Texto Digitado": {
      "main": [
        [
          {
            "node": "Code - Processar Inventário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Processar Inventário": {
      "main": [
        [
          {
            "node": "Respond - Retorna pro Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6bdaf00-d6ba-4be2-b161-4a48eddf51f3",
  "meta": {
    "instanceId": "23fd11dbb65f405d9439226230861dcd2be8bf8c9bcfdf11d867e1e6075d97ef"
  },
  "id": "OXxsVFeLsMkIZqqd",
  "tags": []
}