n8n/Relatório de Visita - Fase 2B (Salvar).json
{
  "name": "Relatório de Visita - Fase 2B (Salvar)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fase2-salvar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5a181b43-3ad9-4992-97cd-3d815af1608e",
      "name": "Webhook - Recebe do Bot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -336,
        -304
      ],
      "webhookId": "fase2-salvar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "notion_page_id",
              "name": "notion_page_id",
              "value": "={{ $json.body.notion_page_id }}",
              "type": "string"
            },
            {
              "id": "inventario_estruturado",
              "name": "inventario_estruturado",
              "value": "={{ $json.body.inventario_estruturado }}",
              "type": "array"
            },
            {
              "id": "inventario_visualizacao",
              "name": "inventario_visualizacao",
              "value": "={{ $json.body.inventario_visualizacao }}",
              "type": "string"
            },
            {
              "id": "temperos_sensiveis",
              "name": "temperos_sensiveis",
              "value": "={{ $json.body.temperos_sensiveis }}",
              "type": "array"
            },
            {
              "id": "total_ingredientes",
              "name": "total_ingredientes",
              "value": "={{ $json.body.total_ingredientes }}",
              "type": "number"
            },
            {
              "id": "total_temperos_sensiveis",
              "name": "total_temperos_sensiveis",
              "value": "={{ $json.body.total_temperos_sensiveis }}",
              "type": "number"
            },
            {
              "id": "precisa_revisao_temperos",
              "name": "precisa_revisao_temperos",
              "value": "={{ $json.body.precisa_revisao_temperos }}",
              "type": "boolean"
            },
            {
              "id": "aviso_temperos",
              "name": "aviso_temperos",
              "value": "={{ $json.body.aviso_temperos }}",
              "type": "string"
            },
            {
              "id": "metodo",
              "name": "metodo",
              "value": "={{ $json.body.metodo }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6be6a3c5-c34c-4085-93af-37c21a438cac",
      "name": "Set - Extrai Variáveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        144,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== CODE - FORMATAR DADOS PARA NOTION =====\n// Formatar inventário de forma simples para Notion\n\nconst dados = $input.first().json;\n\n// Separar ingredientes em duas listas\nconst ingredientesEstruturados = dados.inventario_estruturado || [];\nconst temperosSensiveis = ingredientesEstruturados.filter(item => item.tempero_sensivel === true);\nconst ingredientesNormais = ingredientesEstruturados.filter(item => item.tempero_sensivel !== true);\n\n// Formatar lista de ingredientes gerais\nlet ingredientesTexto = '';\nif (ingredientesNormais.length > 0) {\n  ingredientesTexto = ingredientesNormais\n    .map((item, index) => {\n      const nome = item.nome || item.nome_original || 'Ingrediente desconhecido';\n      const quantidade = item.quantidade || '';\n      const unidade = item.unidade || '';\n      const info = quantidade && unidade ? ` (${quantidade}${unidade})` : '';\n      return `- ${nome}${info}`;\n    })\n    .join('\\n');\n} else {\n  ingredientesTexto = '- Nenhum ingrediente encontrado';\n}\n\n// Formatar lista de temperos sensíveis\nlet temperosSensiveisTexto = '';\nif (temperosSensiveis.length > 0) {\n  temperosSensiveisTexto = temperosSensiveis\n    .map((tempero, index) => {\n      const nome = tempero.nome || tempero.nome_original || 'Tempero desconhecido';\n      const quantidade = tempero.quantidade || '';\n      const unidade = tempero.unidade || '';\n      const info = quantidade && unidade ? ` (${quantidade}${unidade})` : '';\n      return `- ${nome}${info}`;\n    })\n    .join('\\n');\n} else {\n  temperosSensiveisTexto = '- Nenhum tempero sensível encontrado';\n}\n\n// Formatar texto completo para Notion\nlet inventarioFormatado = 'Ingredientes\\n';\ninventarioFormatado += ingredientesTexto;\n\ninventarioFormatado += '\\n\\nTemperos Sensíveis\\n';\ninventarioFormatado += temperosSensiveisTexto;\n\n// Adicionar aviso de temperos se existir (pergunta problema específico)\nif (dados.aviso_temperos && dados.aviso_temperos.trim() !== '') {\n  inventarioFormatado += '\\n\\n';\n  inventarioFormatado += dados.aviso_temperos;\n}\n\n// Retornar dados formatados\nreturn {\n  json: {\n    ...dados,\n    inventario_formatado: inventarioFormatado,\n    ingredientes_texto: ingredientesTexto,\n    temperos_sensiveis_texto: temperosSensiveisTexto\n  }\n};"
      },
      "id": "482234bb-e59e-47b3-9700-1e2164c6f6ca",
      "name": "Code - Formatar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -304
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Set - Extrai Variáveis').item.json.notion_page_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  properties: {\n    'Inventário Atendimento': {\n      rich_text: [\n        {\n          text: {\n            content: $('Code - Formatar Dados').item.json.inventario_formatado || ''\n          }\n        }\n      ]\n    },\n    'Inventário atualizado?': {\n      select: {\n        name: 'Sim'\n      }\n    },\n    'Status': {\n      select: {\n        name: 'Processar'\n      }\n    }\n  }\n}) }}",
        "options": {}
      },
      "id": "f48a6f35-3b90-4b6a-af94-5b1bc047a900",
      "name": "HTTP - Atualizar Página",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -304
      ],
      "credentials": {
        "notionApi": {
          "id": "xcuotgIi8kbGrCBq",
          "name": "Notion <> N8N"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  message: 'Inventário salvo com sucesso!',\n  notion_page_id: $('Set - Extrai Variáveis').item.json.notion_page_id || '',\n  notion_url: $('HTTP - Atualizar Página').item.json.url || '',\n  total_ingredientes: $('Code - Formatar Dados').item.json.total_ingredientes || 0,\n  total_temperos_sensiveis: $('Code - Formatar Dados').item.json.total_temperos_sensiveis || 0\n}) }}",
        "options": {}
      },
      "id": "86fedf43-0b1f-46e6-a7fd-27c1d33f115f",
      "name": "Respond - Confirma pro Bot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1584,
        -304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Recebe do Bot": {
      "main": [
        [
          {
            "node": "Set - Extrai Variáveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Extrai Variáveis": {
      "main": [
        [
          {
            "node": "Code - Formatar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Formatar Dados": {
      "main": [
        [
          {
            "node": "HTTP - Atualizar Página",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Atualizar Página": {
      "main": [
        [
          {
            "node": "Respond - Confirma pro Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec896715-2483-4c4e-ac12-0224da93a7ea",
  "meta": {
    "instanceId": "23fd11dbb65f405d9439226230861dcd2be8bf8c9bcfdf11d867e1e6075d97ef"
  },
  "id": "ylce6zOLYoVPsxxH",
  "tags": []
}